{% extends "base.html" %}

{% block content %}
 
        <div class="jumbotron">
            <h1>IdeaBox App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href = "{{ url_for('register')}}" role="button">Sign up today</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <a href = "{{url_for('login')}}">
                <h4>Robotib Arm </h4>
                <p>The Robotic Arm concept was envisioned here at Ideabox and promises to be the next level in Artificial Intelligence.</p>
                </a>
                <a href = "{{url_for('login')}}">
                <h4>Auto Instrumental</h4>
                <p>An idea by one of the founders of Ideabox, Kimani Ndegwa, that aims at realtime generation of music instrumentals through speech synthesis techniques. </p>
                </a>
                <a href = "{{url_for('login')}}">
                <h4>Shabang!</h4>
                <p>A password encryption technique that borrows from the SHA encryption that aims at imporving security.</p>
                </a>
            </div>
 
            <div class="col-lg-6">
                <a href = "{{url_for('login')}}">
                <h4>Brexit</h4>
                <p>From Kenya to Britain with love. Inspired by Britains Exit from the EU, this app seeks to inform Kenyan citizens living in the UK on the impending changes.</p>
                </a>
                <a href = "{{url_for('login')}}">
                <h4>Omundu</h4>
                <p>A brilliant food planning regime developed locally to improve nutitional intake in our dietary intake.</p>
                </a>
                <a href = "{{url_for('login')}}">
                <h4 >IdeaLag</h4>
                <p>A concept to allow more people to get rid of creative block.</p>
                </a>
            </div>
        </div>
 
{% endblock %}